@font-face {
  font-family: 'iconfont';  /* project id 941012 */
  src: url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.eot');
  src: url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.woff') format('woff'),
  url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_941012_58ieq7hdfwa.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
  content: "\e608";
}

.icon-ziliao:before {
  content: "\e60a";
}

.icon-phone2:before {
  content: "\e606";
}

.icon-menu:before {
  content: "\e63f";
}

.icon-aui-icon-mail:before {
  content: "\e619";
}

.icon-qq:before {
  content: "\e646";
}

.icon-weixin:before {
  content: "\e64f";
}

.icon-socialgithuboutline:before {
  content: "\e8a1";
}

.icon-tuichu:before {
  content: "\e668";
}

.icon-home1:before {
  content: "\e610";
}

.icon-zhengshu:before {
  content: "\e620";
}

.icon-xiaoxi:before {
  content: "\e622";
}

.icon-home:before {
  content: "\e60d";
}

.icon-xinxi:before {
  content: "\e624";
}



*{ margin: 0; padding: 0; box-sizing: border-box; font-size: 18px}

  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
li{list-style: none;}
a{text-decoration: none; color: #333}
header{height: 50px; line-height: 50px; background: #1a3550}
header span{float: right; height: 100%; line-height: 50px; color: #fff; text-align: center; width: 100px; cursor: pointer;}
header span.active{ background: #e0c246;}
header span:hover{ background: #e0c246;}


nav{ height: 103px; line-height: 103px; padding: 0 40px; border-bottom: 1px #ddd solid; position: relative; z-index: 1; background: #fff}
nav .logo{  float: left;  padding-top: 10px; }
nav ul{ float: right;}
nav ul li{ float: left; padding:  0 40px; height: 100%; font-size: 18px}
nav ul li .sanjiaoxing{display: none; width:0;
  height:0;
  border-width:10px 10px 0;
  border-style:solid;
  border-color:#e0c246 transparent transparent;/*灰 透明 透明 */
  position: absolute;
  bottom: -10px;
  left: 43%;
}
nav ul li.active{background: #e0c246; color: #fff; position: relative; }
nav ul li.active a{color: #fff}
nav ul li.active .sanjiaoxing{display: block}
.container{ width: 80%; margin: 0 auto}

.container .ulBox{ width: 100%; overflow: hidden; }
.banner{ background:url('../images/timg.jpg') no-repeat center;min-height: 700px}
.container .ulBox li{ width: 40%; background: #fff; float: left; margin :5%; box-shadow: 0 0 10px rgba(0,0,0,.2)}
.container .ulBox li img{ border:10px #fff solid}
.container .ulBox li p{ line-height: 60px; height: 60px; text-align: center; font-size: 24px; color: #fff}
.blue{ background-image: linear-gradient(to right, #2f79d8, #50a3d9); }
.yellow{ background-image: linear-gradient(to right, #fec635, #fede35); }
.green{background-image: linear-gradient(to right, #33b549, #92c731); }
.purple{background-image: linear-gradient(to right, #4f57ac, #7558ac); }

.indexUl{ width:100%; margin: 0 auto; padding: 40px; background: #f4f4f4; display: flex; align-content: center; }
.indexUl li{ flex: 1; text-align: center; font-size: 18px}
footer{height: 200px;}

.serchBox{ margin: 0 auto; width: 900px; margin-top: -400px; padding: 40px;}
.serchBox input{float: left; width: 600px; margin-right: 20px; height: 60px; line-height: 60px; font-size: 18px; border-radius: 5px; border: none; padding-left: 20px;}
.serchBox button{float: left; width: 200px; height: 60px; line-height: 60px;background: #e0c246; color: #fff; border: none; border-radius: 5px;font-size: 18px;}

.about{ width: 100%; background: #fff;  padding: 40px;}
.about .tt{ font-size: 36px; text-align: center; color: #333}
.about p { line-height: 40px; font-size: 22px; margin-bottom: 40px; color: #666}
.about li{ float: left; width: 400px;}
.tixi_con{background: #fff; padding: 40px; }
.tixi_con .tt{ font-size: 36px; margin-top: 80px;}

.tixi_con p { line-height: 40px; font-size: 22px; margin-bottom: 40px; color: #666}
.colorBox{ width: 100%; padding: 20px; background: #eee; display: flex; align-content: space-between; height: 150px; align-items: center; margin-top: -110px; margin-bottom:20px;}
.colorBox span{  display: block; flex: 1 ; padding: 10px 0 ; text-align: center; color: #fff; margin:0 30px}
.colorBox span a{color: #fff;}
.serchBox .head{ border-bottom: 1px #666 solid; padding-bottom: 20px; font-size: 18px}
.serchBox .head span{ margin: 40px; margin-left: 0; color: #666}
.serchBox table{ border-collapse: collapse; width: 100%;}
.serchBox table td{padding: 10px;}
.serchBox table tr td:first-child{ background: #e0c246; color: #fff; text-align: center}

.serchBox p.title{ padding: 20px 10px; color: #1a3550; font-size:18px}
.newslist li{ line-height: 60px;  border-bottom: 1px #ddd dashed; font-size: 18px; padding: 10px; padding-left: 100px;    background: url(../images/newsIcon.png) no-repeat .5rem center;}

.userCenter{ overflow: hidden;  width: 1400px; margin: 0 auto;  padding: 20px;}
.left_box{ float: left; width:200px; background: #eee; overflow: hidden; text-align: center;}
.left_box p{ line-height: 40px; color: #666}
.left_box .headImg{ width: 70%; margin: 20px auto}
.right_box{   margin-left: 250px; }
.left_box ul { padding-top: 40px;}
.left_box ul li a{ padding: 20px; display: block; font-size: 18px}
.left_box ul li a.active{ background: #e0c246; color: #fff}
.left_box ul li a:hover{ background: #e0c246; color: #fff}
.left_box ul li a.active p {
  color: #fff;
}
.left_box ul li i{ font-size: 18px;margin-right: 10px;}
.right_box .box{margin-bottom: 30px; }
.right_box .box p{ font-size:18px; padding:10px; background: #eee; border-bottom:1px #fff solid }
 table{ border-collapse: collapse; width: 100%; background: #f4f4f4; }
 table td{padding: 10px;}
 .right_box td{text-align: center; border-bottom: 1px #eee solid}
 
 .messageBox li{ color: #666; padding:20px 20px 20px 50px; background: url('../images/mail_03.jpg') no-repeat left 20px}
 .messageBox li div{ background: #eee; padding: 20px; border-radius: 10px}
 .info td{ text-align: left}
 .info{background: none}
 .info input{  padding: 10px; border: 1px #ddd solid}
 .btn{ padding: 10px 20px; font-size: 18px; color: #fff; border-radius: 10px; margin: 20px; background: #1a3550; border: none; min-width: 100px; cursor: pointer;}
 .tiaojian ul { display: flex; justify-content:space-between; align-items: center; position: relative; top: -80px}
 .tiaojian li{ width: 430px; background: url('../images/tiaojian_03.jpg') no-repeat ; background-size: contain; height: 181px; cursor: pointer; position: relative;}
 .tiaojian li:nth-of-type(2){background: url('../images/tiaojian_07.jpg') no-repeat;   background-size: contain;}
 .tiaojian li:nth-of-type(3){background: url('../images/tiaojian_05.jpg') no-repeat ;background-size: contain; }
 .tiaojian li .con{color: #fff; padding: 40px;  position: absolute; bottom: 181px; display: none}
 .tiaojian li .con p{ padding-bottom: 20px;}
 .tiaojian li:hover .con{ display: block}

.menu_list,.m_head{display: none}

.login-page{ width: 50%; margin: 40px auto;margin-top: -400px}
.register-form{ display: none}


.login-page input::-webkit-input-placeholder{
  color:#fff;
}
.login-page input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#fff;
}
.login-page input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#fff;
}
.login-page input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
  color:#fff;
}

.login-page input{ 

height: 50px; line-height: 50px; clear: both; width: 100%; margin-bottom: 30px; padding-left: 20px; background: rgba(26,53,80,.3); color: #fff; border: none; border-radius: 50px;}
   
.login-form,.register-form{ padding: 40px;}
.login-page .btn{width: 100%; margin: 0; background: #e0c246; border-radius: 50px}
.login-page .message{margin-top: 20px; color: #fff}

.login-page .message a{ color:  #fff}
.listPage{ text-align: center; padding: 20px;}
.listPage a{ padding: 10px;}


.tabCard{ padding: 80px; min-height: 570px ; display: none}
.tabCard .tt{ font-size: 22px; color: #fff; padding-bottom: 20px;}
.tabCard p{ font-size:16px; color: #fff; line-height: 30px}
.newabout{ padding-top: 680px; width:80%; margin: 0 auto;}
.newabout .tt{ font-size: 24px; padding-bottom: 20px;text-indent: 0}
.newabout p{font-size: 16px; line-height: 30px; padding-bottom: 20px; text-indent: 2em; color: #666}
.c_title{ padding: 10px 20px; background: #eee; margin-bottom: 30px;}
.aboutExam b{color: #000}
.aboutExam {color: #303030; line-height: 40px}
.noNew li {background: none; padding-left: 0}
.register-form ul{ width: 100%; text-align: center}
.register-form li{ display: inline-block ;height: 50px;
  cursor: pointer;
  line-height: 50px;
  clear: both;
  margin-bottom: 30px;
  padding:0 20px;
  
  color: #fff;
  border: none;
  border-radius: 50px;}
  .register-form  .active{background: rgba(26,53,80,.3);}
  .getCode{ position: absolute; top: 0; right: 20px; line-height: 50px; color: #fff; cursor: pointer;} 
  .tabType{ display: none; position: relative;}
  a.blue{ background: none; color: #09f}